doctype html
html
    head
        -var title = '::: 媚比琳 :::最佳主角 由你主眼'
        -var descript = '媚比琳超激細抗暈眼線液，強勢改版新升級!極黑極細筆觸，一筆勾勒所有你想詮釋的角色，讓你一出場，必定魅力橫掃全場!'
        meta(charset='UTF-8')
        title=title
        meta(property='og:title' content='#{title}')
        meta(property='og:description' content='#{descript}')
        meta(property='og:image' content='asset/img/noname.jpg')
        meta(property='og:type' content='website')
        meta(name='description' content='#{descript}')
        meta(name='keywords' content='媚比琳,Maybelline,媚比琳超激細抗暈眼線液,極黑,極細,0.01mm流暢筆尖,防水,抗汗,最佳主角由你主眼')