- var devMode = process.env.NODE_ENV  == 'development'
- function date_now_format() { var date = new Date(); return date.getFullYear() + "_" + ( date.getMonth() + 1 ) + "_" + date.getDate() + "_" + date.getHours() + "_" + date.getMinutes() + "_" + date.getSeconds();     }
- var time = date_now_format();

extends m_master
block head

    //- if !devMode
        //- link(rel="stylesheet", href="asset/css/m_index.css")

    script(defer,src="asset/js/m_interactive.js?_v_=#{time}")


block content

    .content

        .background_all
            .background_style.background_style_1
                img(src="~m/m_interactive/style_big_fake.png", alt="")
            .background_style.background_style_2
                img(src="~m/m_interactive/style_big_fake.png", alt="")
            .background_style.background_style_3
                img(src="~m/m_interactive/style_big_fake.png", alt="")
            .background_style.background_style_4
                img(src="~m/m_interactive/style_big_fake.png", alt="")
            .background_style.background_style_5
                img(src="~m/m_interactive/style_big_fake.png", alt="")
            .background_style.background_style_6
                img(src="~m/m_interactive/style_big_fake.png", alt="")
            .background_style.background_style_7
                img(src="~m/m_interactive/style_big_fake.png", alt="")
        .home_border

        .center
            img(class="style_content",src="~m/m_interactive/style_7.png", alt="")
            .btn_wrap
                a.l_btn(href="javascript:;")
                a.r_btn(href="javascript:;")
            .dot_wrap
                //- .dot.on 1
                //- .dot 2
                //- .dot 3
                //- .dot 4
                //- .dot 5
            a.look_btn(class="next_btn",href="m_step.html?id=7")
            //- img(class="next_btn", src="../img/m/m_interactive/next_btn.png")

        //- a.look_btn(href="m_style.html?id=1")
