div(class="number_two") 2
div(class="number_zero") 0
div(class="number_one") 1
div(class="number_six") 6
div(class="home_list")
    a(href="interactive.html" class="list_1", onclick="$.gapv('/style2016/interactive_btn');")
        img( class="menu_5 btn_pointer", src="~img/menu_5.png")
    a(href="guide.html", onclick="$.gapv('/style2016/guide_btn');")
        img( class="menu_1 btn_pointer", src="~img/menu_1.png")
    a(href="product.html", onclick="$.gapv('/style2016/product_btn');")
        img( class="menu_2 btn_pointer", src="~img/menu_2.png")
    a(href="activity.html", onclick="$.gapv('/style2016/activity_btn');")  
        img( class="menu_3 btn_pointer", src="~img/menu_3.png")
    a(href="list.html", onclick="$.gapv('/style2016/list_btn');")
        img( class="menu_4 btn_pointer", src="~img/menu_4.png")
    a(href="index.html", onclick="$.gapv('/style2016/back_btn');")
        img( class="menu_6 btn_pointer", src="~img/menu_6.png")